.egg-info/
__pycache__
build/
install/
log/
.west/
bootloader/
modules/
tools/
public/
.vscode/
*.log

# Porting of the Nodes will be done in the following order
# zephyr_app/src/autoware_vehicle_info_utils
# zephyr_app/src/autoware_motion_utils
# zephyr_app/src/autoware_universe_utils
# zephyr_app/src/autoware_cmake
zephyr_app/src/interpolation
zephyr_app/src/osqp_interface
zephyr_app/src/autoware_trajectory_follower_base
zephyr_app/src/autoware_mpc_lateral_controller