[submodule "cyclonedds"]
	path = cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
	branch = 7c253ad3c4461b10dc4cac36a257b097802cd043
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/zephyrproject-rtos/zephyr
	branch = 6aeb7a2b96c2b212a34f00c0ad3862ac19e826e8
[submodule "rosidl"]
	path = rosidl
	url = git@github.com:ros2/rosidl.git
	branch = humble
